<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a> </li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/Visualization">Visualization</a></li>
        </ul>
    </nav>

    {% block content %}{%endblock%}

    <footer>
        <p>&copy; 2024 Data Visualization Webiste</p>
    </footer>

</body>
</html>
